#page-container{
    width: 100%;
    height: 1000px;
    background-color: red;
}

#page{
    height: 1000px;
    background-color: white;
}

#bottom-bar{
    text-align: center;
    margin-top: -52px;
}

#bottom-bar a{
    color:grey;
}

#copyright{
    font-size: 12px;
}

#designed-by{
    font-size: 8px;
}

#church-calendar{
    position: relative;
    left: 150px;
}

#edited-by{
    font-size: 8px;
}

p{
    margin: 0;
    padding: 0;
}

#church-map{
    position: relative;
    top: 10rem;
    left: 9rem;
}

#contact-info{
    position:relative;
    top:3rem;
    left:9rem;
}