.center-top-nav{
    float: none;
}

@media (max-width:767px) {
 .navbar-collapse {
    text-align:center;
    }
}

#home-page-container{
    width: 100%;
    height: 1000px;
    background-color: red;
}

#home-page{
    height: 1000px;
    background-color: white;
}

#bottom-bar{
    text-align: center;
    margin-top: -52px;
}

#bottom-bar a{
    color:grey;
}

#copyright{
    font-size: 12px;
}

#designed-by{
    font-size: 8px;
}

#edited-by{
    font-size: 8px;
}

.footer p{
    margin: 0;
    padding: 0;
}